
.btnStart{
    width: 50%;
    margin: auto;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.container {
    height:600px;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container div{
    margin: 5px;
    width: auto;
    height: 550px;
    color:black;
    border: solid thin black;
  }